.portal-page {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: gray;
  min-height: 100vh;
  overflow: hidden;
}

.portal-content {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  height: calc(100dvh - 64px); /* header is 64px */
}